# Secret:
.env
.env.*
!.env.backup
!.env.debug

# Processed application:
src/prod/

# Text editor/IDE conf. file:
s.vim

# Temp. backup:
old.*

# Temp. doc.:
todo
TODO

# Fast test:
foo
bar
foo.*
bar.*

# Processed files:
./src/wip/public/assets/.modules/behaviors/js/
./src/wip/public/assets/pages/**/*.mjs
./src/wip/public/assets/components/**/*.css

