# Secret data files:
.env
.env.*

# (This contains only required fields.)
!.env.backup

# (This contains data related with test environment.)
!.env.debug


# Builded application:
./src/prod/


# Text editor/IDE conf. file:
s.vim


# Temp. backup:
old.*
*.backup


# Lockfiles:

*.lock
*-lock.json


# Temp. to do lists:

# (Low priority.)
todo

# (High priority.)
TODO


# Files to fast tests:
foo
bar
stuff
foo.*
bar.*
stuff.*
*.foo
*.bar
*.stuff


# Processed files:
./**/public/assets/.modules/behaviors/js/
./**/public/assets/pages/**/*.cjs
./**/public/assets/pages/**/*.mjs
./**/public/assets/pages/**/*.js
./**/public/assets/components/**/*.css

