# Secret data files:
.env
.env.*

# (This contains only required fields.)
!.env.backup

# (This contains data related with test environment.)
!.env.debug


# Builded application:
src/prod/


# Text editor/IDE conf. file:
s.vim


# Temp. backup:
old.*

# Temp. to do lists:

# (Low priority.)
todo

# (High priority.)
TODO


# Files to fast tests:
foo
bar
foo.*
bar.*

# Processed files:
./src/wip/public/assets/.modules/behaviors/js/
./src/wip/public/assets/pages/**/*.mjs
./src/wip/public/assets/components/**/*.css

