.converter
{
	padding-block: 5rem;
}

.converter-man
{
	width: 100%;
	padding-inline: 20vw;
	padding-block: 0.5rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.converter-man-btn
{
	background-color: #3a3;
	padding: 0.5rem;
}
