.converter
{
	padding-block: 5rem;
}

.converter-man
{
	width: 100%;
	padding-inline: 20vw;
	padding-block: 0.5rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.converter-man-btn
{
	background-color: #3a3;
	padding: 0.5rem;
}

.tboxes-container
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	row-gap: 2rem;
}

.tbox
{
	background-color: #2a2a2a;
}

.tbox-nav
{
	display: flex;
	gap: 0.25rem;
}

.tbox,
.tbox-fast-btn,
.tbox-conf-man
{
	border-radius: 0.25rem;
}

.tbox-fast-btn,
.tbox-conf-man
{
	background-color: #444;
	padding: 0.25rem;
}

.tbox-conf-man
{
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.tbox-fast-btn
{
	--dim: 2rem;
}

.tbox-conf-man
{
	font-size: 1.25rem;
	flex-grow: 1;
	--dim: 1.5rem;
}

.tbox-input
{
	width: 20rem;
	height: 20rem;
	resize: none;
	padding: 0.5rem;
}
