.converter
{
	padding-block: 5rem;
}

.converter-grid
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

.converter-man
{
	width: 100%;
	padding-inline: 20vw;
	padding-block: 0.5rem;
	text-align: center;
}

.converter-runner
{
	background-color: #3a3;
	padding: 0.5rem;
}

.converter-input-container
{
	background-color: #333;
	width: min-content;
}

.converter-input-nav,
.converter-input-nav-item
{
	width: 100%;
}

.converter-input-nav-item
{
	display: flex;
}

.converter-input-nav,
.converter-input-type
{
	padding: 0.25rem;
	gap: 0.25rem;
}

.converter-input-type
{
	font-size: 1.25rem;
	flex-grow: 1;
}

.converter-nav-btn
{
	width: 2rem;
	height: 2rem;
	margin: 0.25rem;
}

.converter-input
{
	resize: none;
	width: 40vw;
	height: 30vw;
	font-size: 1rem;
	padding: 0.5rem;
}
