:root
{
	--fg: #c9c9c9;
	--bg: #1f1f1f;
}

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	color: var(--fg);
	background-color: var(--bg);
	font-family: sans, sans-serif, arial;
	width: 100vw;
	font-size: 1rem;
	height: max-content;
	min-height: 100vh;
	min-height: 100dvh;
}

ol,
ul
{
	list-style: none;
}

button,
input,
textarea,
select
{
	font-size: 1rem;
	color: inherit;
	background: none;
	outline: none;
	border: none;
}

a
{
	color: inherit;
	text-decoration: none;
}

button:hover,
select:hover
{
	cursor: pointer;
}

.ghost
{
	display: contents;
}

.url
{
	color: #00afaf;
}

.nearest-rendering
{
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
