.i-heart,
.i-copy,
.i-trash
{
	background-size: 100%;
}

.i-heart
{
	background-image: url("../assets/svg/heart.svg");
}

.i-copy
{
	background-image: url("../assets/svg/copy.svg");
}

.i-trash
{
	background-image: url("../assets/svg/trash.svg");
}
