.tboxes-manager
{
	width: 100%;
	padding: 0.5rem;
	gap: 1rem;
	display: flex;
	justify-content: center;
}

.aside-tboxes-man
{
	top: 0;
	left: 0;
	width: 16rem;
	height: max-content;
	padding: 0.5rem !important;
	position: sticky;
}

/* #TBOXES-OPT */
@media only screen
{
	@media (max-width: 42rem)
	{
		/* Parent of .aside-tboxes-man */
		.aside
		{
			display: none;
		}
	}

	@media (min-width: 64rem)
	{
		.aside-tboxes-man
		{
			width: 24rem;
		}
	}
}

.tboxes-man-btn
{
	padding: 0.5rem;
	font-weight: bold;
	background-color: var(--bg);
	color: var(--fg);
}

.tboxes-container
{
	flex-grow: 1;
	text-align: center;
}

.tbox:last-child[data-list-id="1"] .tbox-btn-delete
{
	display: none;
}

.tbox + .tbox
{
	margin-top: 2rem;
}

@keyframes new-tbox
{
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.tbox
{
	display: inline-block;
	text-align: initial;
	width: min-content;
	background-color: #2a2a2a;
	animation: new-tbox 1.5s linear;
	background-color: var(--BG);
	border: 0.0625rem solid var(--FG);
	width: 100%;
	min-width: min-content;
}

.tbox,
.tbox-btn,
.tbox-slt,
.aside-tboxes-man
{
	border-radius: 0.25rem;
}

.tbox-nav
{
	display: flex;
	gap: 0.25rem;
}

.tbox-btn,
.tbox-slt,
.aside-tboxes-man
{
	padding: 0.25rem;
	background-color: var(--BG);
	border: 0.0625rem solid var(--FG);
}

.tbox-btn,
.tbox-slt
{
	border-top: none;
}

.tbox-nav > :first-child
{
	border-left: none;
}


.tbox-nav > :last-child
{
	border-right: none;
}

.tbox-slt
{
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.tbox-btn
{
	--dim: 2rem;
}

.tbox-slt
{
	font-size: 1.25rem;
	flex-grow: 1;
	--dim: 1.5rem;
}

.tbox-input
{
	width: 100%;
	height: 10rem;
	resize: vertical;
	padding: 0.5rem;

	/* (paddingBlock * 2 + fontSize + complement) */
	min-height: 2.25rem;
}
