CI_ENVIRONMENT=

app.baseURL=

database.default.hostname=
database.default.database=
database.default.username=
database.default.password=
database.default.DBDriver=
database.default.DBPrefix=
database.default.port=

