Options -Indexes

# Temporary
ErrorDocument 404 "https://hasf.io"

RewriteEngine On


# CLIENT

# http -> https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]

# www. ->
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^([^/]+/) %{REQUEST_SCHEME}://$1%{REQUEST_URI} [QSA,L,R=301]

# ./ -> ./public/
RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^(.+)$ /$1 [QSA,L,R=301]


# SERVER

# `./` -> `./public/`
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^([^/]+)(/.+)$ $1/public/$2 [QSA,L]

# Avoid malformed requests;
# allow only GET and POST
RewriteCond %{THE_REQUEST} !^(GET|POST) [a-zA-Z0-9\.\+_/\-\?\=\&]+\ HTTP/ [NC]
RewriteRule .? - [F,NS,L]

